<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <div class="form_format">

      <div class="Nome_input_create">
        <%= form.label(:name, "Nome da receita:") %>
        <%= form.text_field :name %>
      </div>
      <div class="desc_input_create">
        <%= form.label(:description, "Descrição da receita") %>
        <%= form.text_area :description %>
      </div>
      <div class="title_input_create">
        <%= form.label(:title, "Titulo livro de receita:")%>
        <%= form.text_field :title %>
      </div>
      <div class="phone_input_create">
        <%= form.label(:phone, "Telefone do autor:")%>   
        <%= form.telephone_field :phone%>
      </div>
      <div class="author_input_create">
        <%= form.label(:author, "Autor do livro:")%>
        <%= form.text_field :author%>
      </div>
      <div class="date_input_create">
        <%= form.label(:date, "Data de fabrico:")%>
        <%= form.date_field :date %>
      </div>
      <div class="submit_button_create">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
