<p id="notice"><%= notice %></p>

<h1 class="index_title">Recipes</h1>

<table class="all_info_index">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><b>Nome:</b> <%= recipe.name %></td>
        <td><b>Descricao:</b> <%= recipe.description %></td>
        <td><b>Titulo:</b> <%= recipe.title %></td>
        <td><b>Telefone:</b> <%= recipe.phone %></td>
        <td><b>Autor:</b> <%= recipe.author %></td>
        <td><b>Data:</b> <%= recipe.date %></td>
        <div class="options_info_index">
          <td><div class="show_info_index"><%= link_to 'Show', recipe %></div></td>
          <td><div class="edit_info_index"><%= link_to 'Edit', edit_recipe_path(recipe) %></div></td>
          <td><div class="destroy_info_index"><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="new_recipe">
  <%= link_to 'New Recipe', new_recipe_path %>
</div>

<div class="back_welcome_index">
  <%= link_to 'Back to Homepage', root_path %>
</div>
