<p id="notice"><%= notice %></p>

<p><b>Nome do Prato:</b> <%= @recipe.name %></p>
<p><b>Descricao da receita:</b> <%= @recipe.description %></p>
<p><b>Titulo:</b> <%= @recipe.title %></p>
<p><b>Telefone:</b> <%= @recipe.phone %></p>
<p><b>Autor:</b> <%= @recipe.author %></p>
<p><b>Data:</b> <%= @recipe.date %></p>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
