<%= form_with(model: author, local: true) do |form| %>
  <% if author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(author.errors.count, "error") %> prohibited this author from being saved:</h2>

      <ul>
      <% author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form_format">
    <div class="Nome_input_create">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, id: :author_first_name %>
    </div>

    <div class="Nome_input_create">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, id: :author_last_name %>
    </div>

    <div class="gender_input_create">
      <%= form.label :gender %>
      <%= form.select(:gender, options_for_select([['male', 'male'], ['female', 'female'], ['other', 'other'], ['OMG both', 'both']])) %>
    </div>

    <div class="age_input_create">
      <%= form.label :age %>
      <%= form.number_field :age, id: :author_age %>
    </div>

    <div class="datetime_input_create">
      <%= form.label :birth_date %>
      <%= form.datetime_select :birth_date, id: :author_birth_date %>
    </div>

    <div class="famous_input_create">
      <%= form.label :famous %>
      <%= form.check_box :famous, id: :author_famous %>
    </div>

    <div class="submit_button_create">
      <%= form.submit %>
    </div>
  </div>
  
<% end %>
