<p id="notice"><%= notice %></p>

<h1 class="index_title">Authors</h1>

<table class="all_info_index">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Birth date</th>
      <th>Famous</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><b>1ºNome:</b> <%= author.first_name %></td>
        <td><b>ulºNome:</b> <%= author.last_name %></td>
        <td><b>Sexo:</b> <%= author.gender %></td>
        <td><b>Idade:</b> <%= author.age %></td>
        <td><b>Data Nascimento:</b> <%= author.birth_date %></td>
        <td><b>famoso?:</b> <%= author.famous %></td>
        <td><div class="show_info_index"><%= link_to 'Show', author %></td>
        <td><div class="edit_info_index"><%= link_to 'Edit', edit_author_path(author) %></td>
        <td><div class="destroy_info_index"><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="new_recipe">
<%= link_to 'New Author', new_author_path %>
</div>

<div class="back_welcome_index">
  <%= link_to 'Back to Homepage', root_path %>
</div>
