<h1>Welcome#index</h1>
<div class="welcome_btns">
    <span class="index_ul_welcome">
        <a href="<%= authors_path %>"><%= @authors_count %> authors</a>
    </span>
    <span class="index_ul_welcome">
        <%= link_to "#{@recipes_count} recipes", recipes_path %>
    </span>
    <span class="index_ul_welcome">
        <%= link_to "#{@jobs_count} Jobs", jobs_path %>
    </span>
    <span class="index_ul_welcome">
        <%= link_to "#{@contacts_count} Contacts", contacts_path %>
    </span>
</div>

