<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :contact_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :contact_last_name %>
  </div>

  <div class="field">
    <%= form.label :phone_number %>
    <%= form.number_field :phone_number, id: :contact_phone_number %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :contact_email %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :contact_country %>
  </div>

  <div class="field">
    <%= form.label :adress %>
    <%= form.text_field :adress, id: :contact_adress %>
  </div>

  <div class="field">
    <%= form.label :door_number %>
    <%= form.number_field :door_number, id: :contact_door_number %>
  </div>

  <div class="field">
    <%= form.label :fax %>
    <%= form.number_field :fax, id: :contact_fax %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.number_field :postal_code, id: :contact_postal_code %>
  </div>

  <div class="field">
    <%= form.label :mobile %>
    <%= form.number_field :mobile, id: :contact_mobile %>
  </div>

  <div class="field">
    <%= form.label :registered_date %>
    <%= form.date_select :registered_date, id: :contact_registered_date %>
  </div>

  <div class="field">
    <%= form.label :job %>
    <%= form.collection_select(:job_id, @jobs, :id, :career_name,include_blank: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


