<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone number</th>
      <th>Email</th>
      <th>Country</th>
      <th>Adress</th>
      <th>Door number</th>
      <th>Fax</th>
      <th>Postal code</th>
      <th>Mobile</th>
      <th>Registered date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.phone_number %></td>
        <td><%= contact.email %></td>
        <td><%= contact.country %></td>
        <td><%= contact.adress %></td>
        <td><%= contact.door_number %></td>
        <td><%= contact.fax %></td>
        <td><%= contact.postal_code %></td>
        <td><%= contact.mobile %></td>
        <td><%= contact.registered_date %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path %>

<div class="back_welcome_index">
  <%= link_to 'Back to Homepage', root_path %>
</div>
