body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
}

h1{
  text-align: center;
  color:#ffcc00;
  font-size: 32px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #1b1c1d;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    color: #fff;
  }
}
tr {
  border: 1px solid;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

/*===================================| Welcome |==========================|*/
.welcome_btns .index_ul_welcome a{
  font-size: 24px;
  text-decoration: none;
  line-height: 2em;
  width: 20%;
  background-color: #1b1c1d;
  color: #ffcc00;
  font-weight: bold;
  border-radius: 100%;
  padding: 20px;
  margin-left:20px;
  margin-right: 20px;
}
.welcome_btns{
  margin-top: 4em;
  text-align: center;
}


/*====================================| Index |===========================|*/
.new_recipe{
  background-color: #ffcc00;
  border: 1px solid #ffcc00;
  border-radius:20px;
  width:10%;
  text-align: center;
  padding:1em;
  font-size: 18px;
  margin:auto;
}
.index_title{
  background-color: #1b1c1d;
  width:100%;
  margin-top:-1.1em;
  padding-top:20px;
  padding-bottom: 20px;
}
.all_info_index{
  border: 0px solid black;
  width:100%;
}
.all_info_index .options_info_index a{text-align: center;}
.all_info_index .show_info_index{
  background-color:greenyellow;
  border-radius: 10px;
  padding:2px;
}
.all_info_index .edit_info_index{
  background-color:yellow;
  border-radius: 10px;
  padding:2px;
}
.all_info_index .destroy_info_index{
  background-color:red;
  border-radius: 10px;
  padding:2px;
}


/*====================================| Form |===========================|*/
.form_format{
  width:50%;
  margin: auto;
  background-color: #ffcc00;
  text-align: left;
  font-size: 18px;
  border-radius: 20px;
}
.form_format label{
  width:60%;
  margin-left:5%;
  margin-top:1em; 
  font-weight: bold;  
}
.form_format input{
  width:50%;
  margin-left:5%;
}
.form_format select{
  width:25%;
  margin-left:5%;
}
.form_format textarea{
  width:80%;
  margin-left:5%;
  height:100px;
}

.form_format .Nome_input_create label{
  text-align: right; 
  margin-left:0%;
  padding-top:10px;
}
.form_format .Nome_input_create input{
  background-color:#1b1c1d; 
  color:#ffcc00;
  width:90%;
  border: 0px;
  text-align: center;
  font-size: 16px;
}
.form_format .title_input_create input{
  background-color: #f2f2f2;
  border:0px;
  width:50%;
}
.form_format .phone_input_create input{
  background-color: #d2d2d2;
  border:0px;
  width:60%;
}
.form_format .author_input_create input{
  background-color: #b2b2b2;
  border:0px;
  width:70%;
}
.form_format .date_input_create input{
  background-color: #828282;
  border:0px;
  width:80%;
}
.form_format .submit_button_create input{
  margin-top:1em;
  width:100%;
  margin-left:0%;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 24px;
  background-color: #1b1c1d;
  color: #ffcc00;
  font-weight:bold;
  border: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.form_format .datetime_input_create select{
  background-color: #ffaa00;
  border:0px;
  color: #1b1c1d;
  font-weight: bold;
}
.form_format .famous_input_create input{
  background-color: #1b1c1d;
  border:0px;
  color: #ffcc00;
  margin-left:5px;
  width:10%;
}